<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <a class="navbar-brand">CAT FACTS</a>
    
    <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/catfacts">Verdades de Gatos (API)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contacto</a>
            </li>
        </ul>
    </div>
    </nav>